@media (max-width: 414px) {
  main.profile {
    flex-direction: column;
  }

  div.img-cont {
    justify-content: center;
    width: 250px;
  }

  div.profile-info {
    margin: 50px 0 0 0 !important;
  }

  .blog {
    width: 80vw !important;
  }

  .blog > pre {
    width: 85vw !important;
  }
}
