:root {
  --dark: #515053;
  --main: #A9A9B3;
  --primary: #252627;
  --white: #f6f6f6;
  --secondary: #54BCE1;
}

* {
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #282B2D;
}

img {
  user-select: none;
}

a {
  color: var(--main);
  text-decoration: none;
}

a:hover {
  color: var(--white);
}

::selection {
  background-color: #35a6f740
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}