body {
  --dark: #515053;
  --main: #a9a9b3;
  --white: #f6f6f6;
  --secondary: #54bce1;
  --codeblocK: #282c34;
  --bg: #282b2d;
  --codeblock-selection: #ffffff20;
  background: var(--bg);

  position: relative;
  overflow-x: hidden;
}

body.light {
  --dark: #adadb7;
  --main: #171208;
  --white: #2d97bc;
  --secondary: #2d97bc;
  --codeblocK: #e2e2e2;
  --bg: #fffefe;
  --codeblock-selection: #35a6f740;
  background: var(--bg);
}

* {
  font-family: 'Lexend', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  user-select: none;
}

a {
  color: var(--main);
  text-decoration: none;
}

a:hover {
  color: var(--white);
}

::selection {
  background-color: #35a6f740;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog {
  width: 50vw;
  margin: 100px 0;
  color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog * {
  width: 100%;
}

code,
pre,
span {
  font-family: 'JetBrains Mono', monospace;
  border-radius: 5px;
}

p > code {
  background: var(--dark);
  border-radius: 0px;
}

.blog > pre {
  margin: 20px 0;
  width: 55vw;
  border: 2px solid white;
}

.blog > h1 {
  margin: 30px 0;
}

.blog > h2 {
  margin: 20px 0;
}

.blog > h3 {
  margin: 10px 0;
}

.blog p {
  margin: 5px 0;
}

.blog > ul {
  margin: 10px 0;
}

.blog li {
  margin: 5px 0;
}

p > a {
  color: var(--secondary) !important;
  position: relative;
  text-decoration: none;
  width: fit-content;
}

p > a:before {
  content: '';
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--secondary);
  transition: 0.3s all;
}

p > a:hover:before {
  width: 100%;
  left: 0;
  background: var(--secondary);
}

code::selection,
span::selection {
  background-color: var(--codeblock-selection);
}

.blog img {
  border-radius: 1%;
  border: 2px solid white;
}

table {
  color: var(--white);
  background: var(--codeblocK);
  border-radius: 5px;
  padding: 20px;
  width: fit-content !important;
  border: 2px solid white;
}

table th {
  padding-bottom: 25px;
}

table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main);
}

@media only screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    left: -100%;
    top: 5rem;
    background: var(--bg);
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
    padding: 40px 0;
    box-shadow: 0px 30px 30px 0px #0000002f;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links * {
    margin: 10px 0 !important;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 999;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
